.kana, .reading {
    font-size: 50%;
    vertical-align: middle;
}

body {
    font-family: Helvetica, "Helvetica Neue", Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "小塚明朝 Pro L", serif;
}

.target-words {
    color: red;
}
.target-words-romaji {
    color: blue;
}
.part-of-speech {
    color: green;
}
.target-words-meaning {
    color: purple;
}